body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0e0e0e;
    color: #fff;
    font-family: Arial, sans-serif;
}
.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}
input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f03a17;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #ff7b00;
}